@import "reset_style.scss";
@import "base/func";
@import "fonts/font";


@import "../css/bootstrap.min.css";
//@import "libs/slick-theme.scss";
@import "libs/slick.scss";

@import "components/header";
@import "components/hero";
@import "components/story";
@import "components/gallery";
@import "components/features";
@import "components/registration";
@import "components/footer";

body{
    font-family: Garamond;
}
