<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="features__title">Features</h2>
      </div>
      <div class="features__items">
        <div class="features__items_item one">
          <img src="img/airplane-48.png" alt="img">
          <h4>One</h4>
          <p>Duis vel erat odio. Duis sed elementum magna, vel egestas dui.</p>
        </div>
        <div class="features__items_item two">
          <img src="img/map_marker-48.png" alt="img">
          <h4>Two</h4>
          <p>Cras imperdiet augue et euismod mollis.</p>
        </div>
        <div class="features__items_item three">
          <img src="img/movie-48.png" alt="img">
          <h4>Three</h4>
          <p>Phasellus sit amet lacus orci. Aliquam accumsan aliquet urna eget
            commodo.</p>
        </div>
        <div class="features__items_item four">
          <img src="img/alarm_clock-48.png" alt="img">
          <h4>Four</h4>
          <p>Vestibulum consequat felis mi, ut blandit arcu commodo vel.</p>
        </div>
        <div class="features__items_item five">
          <img src="img/face-48.png" alt="img">
          <h4>Five</h4>
          <p>Nullam nec elit nec augue commodo ultricies ut ac lorem.</p>
        </div>
        <div class="features__line"></div>
        <div class="features__items_item six">
          <img src="img/genius-48.png" alt="img">
          <h4>Six</h4>
          <p>Donec mollis massa id lectus fermentum tempor. Nulla finibus massa
            ex.</p>
        </div>
        <div class="features__line"></div>
      </div>
    </div>
  </div>
</section>