<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="features__title">Features</h2>
            </div>
            
        </div>
    </div>
</section>
<!-- <div class="col-4">
    <div class="features__block">
        <img src="img/airplane-48.png" alt="#">
        <h3 class="features__block_title">One</h3>
        <p class="features__block_text">Duis vel erat odio. Duis sed elementum magna, vel egestas dui.</p>
    </div>
    <div class="col-4">
        <div class="features__line_last"></div>
    </div>

</div>
<div class="col-4">
    <div class="features__block">
        <img src="img/map_marker-48.png" alt="#">
        <h3 class="features__block_title">Two</h3>
        <p class="features__block_text">Cras imperdiet augue et euismod mollis.</p>
    </div>
</div>
<div class="col-4">
    <div class="features__block">
        <img src="img/movie-48.png" alt="#">
        <h3 class="features__block_title">Three</h3>
        <p class="features__block_text">Phasellus sit amet lacus orci. Aliquam accumsan aliquet urna eget
            commodo.</p>
    </div>
</div>
<div class="col-12">
    <div class="features__line"></div>
</div>
<div class="col-4">
    <div class="features__block">
        <img src="img/alarm_clock-48.png" alt="#">
        <h3 class="features__block_title">Four</h3>
        <p class="features__block_text">Vestibulum consequat felis mi, ut blandit arcu commodo vel.</p>
    </div>
</div>
<div class="col-4">
    <div class="features__block">
        <img src="img/face-48.png" alt="#">
        <h3 class="features__block_title">Five</h3>
        <p class="features__block_text">Nullam nec elit nec augue commodo ultricies ut ac lorem.</p>
    </div>
</div>
<div class="col-4">
    <div class="features__block">
        <img src="img/genius-48.png" alt="#">
        <h3 class="features__block_title">Six</h3>
        <p class="features__block_text">Donec mollis massa id lectus fermentum tempor. Nulla finibus massa
            ex.</p>
    </div>
</div> -->