<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer__line"></div>
            </div>
            <div class="col-12">
                <div class="footer__icons">
                    <a target="_blank" href="https://twitter.com/?lang=uk" class="footer__icons_icon"><img
                            src="img/twitter.png" alt=""></a>
                    <a target="_blank" href="https://uk-ua.facebook.com/" class="footer__icons_icon"><img
                            src="img/facebook.png" alt=""></a>
                    <a target="_blank" href="https://www.instagram.com/" class="footer__icons_icon"><img
                            src="img/instagram.png" alt=""></a>
                    <a target="_blank" href="https://www.youtube.com/" class="footer__icons_icon"><img
                            src="img/youtube.png" alt=""></a>
                    <a target="_blank" href="https://www.google.com/intl/uk/gmail/about/"
                        class="footer__icons_icon"><img src="img/gmail.png" alt=""></a>
                </div>
            </div>
            <div class="col-12">
                <p class="footer__text text-center mt-4"> &copy UNTITLED 2019</p>
            </div>
            <div class="col-12">
                <div class="footer__line_last"></div>
            </div>
        </div>
    </div>
</footer>