<section id="gallery" class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="gallery__line"></div>
            </div>
            <div class="col-12">
                <h2 class="gallery__title text-center">Gallery</h2>
            </div>
            <div class="col-12 pe-0">
                <div class="gallery__block">
                    <a target="_blank" href="#" class="gallery__block_foto1"></a>
                    <a target="_blank" href="#" class="gallery__block_foto2"></a>
                    <a target="_blank" href="#" class="gallery__block_foto3"></a>
                    <a target="_blank" href="#" class="gallery__block_foto4"></a>
                </div>
            </div>
        </div>
    </div>

</section>