<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-2">
                <h2 class="header__logo">TOUR-GUIDE</h2>
            </div>
            <div class="col-md-8 col-lg-6 d-flex align-items-center">
                <nav>
                    <ul class="header__menu d-flex align-items-center">
                        <li><a href="#story">Stories</a></li>
                        <li><a href="#gallery">Gallery</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#registration">Write to us</a></li>
                    </ul>
                    <a class="menu__icon mobile"><span></span></a>
                    <ul class="menu mobile">
                        <li><a href="#story" class="menu__item">Stories</a></li>
                        <li><a href="#gallery" class="menu__item">Gallery</a></li>
                        <li><a href="#features" class="menu__item">Features</a></li>
                        <li><a href="#registration" class="menu__item">Write to us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <span class="header__icons d-flex align-items-center">
                    <a target="_blank" href="https://twitter.com/?lang=uk"><img class="header__icons_icon"
                            src="img/twitter.png" alt=""></a>
                    <a target="_blank" href="https://uk-ua.facebook.com/"><img class="header__icons_icon"
                            src="img/facebook.png" alt=""></a>
                    <a target="_blank" href="https://www.instagram.com/"><img class="header__icons_icon"
                            src="img/instagram.png" alt=""></a>
                    <a target="_blank" href="https://www.youtube.com/"><img class="header__icons_icon"
                            src="img/youtube.png" alt=""></a>
                    <a target="_blank" href="https://www.google.com/intl/uk/gmail/about/"><img
                            class="header__icons_icon" src="img/gmail.png" alt=""></a>
                </span>

            </div>
        </div>
    </div>
</header>