<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h2 class="header__logo">TOUR-GUIDE</h2>
            </div>
            <div class="col-6 d-flex align-items-center">
                <nav>
                    <ul class="header__menu d-flex align-items-center">
                        <li><a target="_blank" href="#">Stories</a></li>
                        <li><a target="_blank" href="#">Gallery</a></li>
                        <li><a target="_blank" href="#">Features</a></li>
                        <li><a target="_blank" href="#">Write to us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-4">
                <ul class="header__icons">
                    <li><a target="_blank" href="#"><img src="img/twitter.png" alt=""></a></li>
                    <li><a target="_blank" href="#"><img src="img/facebook.png" alt=""></a></li>
                    <li><a target="_blank" href="#"><img src="img/instagram.png" alt=""></a></li>
                    <li><a target="_blank" href="#"><img src="img/youtube.png" alt=""></a></li>
                    <li><a target="_blank" href="#"><img src="img/gmail.com" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>