<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero__line"></div>
            </div>
            <div class="col-6">
                <h1 class="hero__title">Let’s hit the road</h1>
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur as adipisicing <br> elit. Fusce blandit
                    vulputate elit interdum.
                    Nam quis orci <br> id erat viverra mollis ac at nicl. Duis blandit mollis turpis, <br> vehicula
                    turpis.</p>
                <p class="hero__text_last">Ut id risus metus. Vestibulum dictum, nibh eget aliguam blandit, eros <br>
                    eugeu
                    condimentum ligula, ut bibendum mauris sem eu dolor.</p>
                <button class="hero__button">START</button>
            </div>
            <div class="col-6">
                <div class="hero__img"></div>
            </div>
        </div>
    </div>
</section>