<section class="hero">
    <div class="container">
        <div class="col-12">
            <div class="hero__line"></div>
        </div>
        <div id="position" class="row">
            <div class="col-sm-12 col-md-6 hero__info">
                <h1 class="hero__info_title">Let’s hit the road</h1>
                <p class="hero__info_text">Lorem ipsum dolor sit amet, consectetur as adipisicing elit. Fusce blandit
                    vulputate elit interdum. Nam quis orci id erat viverra mollis ac at nicl. Duis blandit mollis
                    turpis, vehicula turpis.</p>
                <p class="hero__info_textlast">Ut id risus metus. Vestibulum dictum, nibh eget aliguam blandit, eros
                    eugeu condimentum ligula, ut bibendum mauris sem eu dolor.</p>
                <button class="hero__info_button">START</button>
            </div>
            <div class="pe-0 col-sm-12 col-md-6 ps-0">
                <div class="hero__img"></div>
            </div>
        </div>
    </div>
</section>