<section id="registration" class="registration">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="registration__title text-center">Write to us</h2>
            </div>

            <div class="col-sm-12 col-md-4 mb-4">
                <form>
                    <div>
                        <label for="exampleInputtext" class="form-label">Name:</label>
                        <input type="text" class="form-control" id="exampleInputtext">
                    </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-4">
                <div>
                    <label for="exampleInputtext" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="exampleInputtext">
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-4">
                <div>
                    <label for="exampleInputtext" class="form-label">Phone:</label>
                    <input type="tel" class="form-control" id="exampleInputtext">
                </div>
            </div>
            <div class="mt-2 col-sm-12 col-md-5 col-lg-3">
                <span class="form-label">
                    Contact me via:
                </span>
            </div>
            <div class="mt-2 col-sm-12 col-md-7 col-lg-9 mb-4">
                <span class="registration__radio">
                    <input class="form-check-input" name="check" type="radio" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Email
                    </label>
                    <input class="form-check-input" name="check" type="radio" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Phone
                    </label>
                    <input class="form-check-input" name="check" type="radio" id="flexRadioDefault3">
                    <label class="form-check-label" for="flexRadioDefault3">
                        Telegram
                    </label>
                </span>
            </div>
            <div class="col-12">
                <div class="registration__text mb-2">Topic:</div>
            </div>
            <div class="col-12">
                <select class="form-select mb-4" aria-label="Default select example">
                    <option selected>Post my story</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-12">
                <div class="registration__text mb-2">Message:</div>
            </div>
            <div class="col-12">
                <input type="text" class="registration__form">
            </div>
            <div class="col-md-12 mt-4 d-flex align-items-center justify-content-between">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label registration__text" for="flexCheckDefault">
                        I am a human
                    </label>
                </div>
                <input class="registration__button" type="submit" value="SEND" />
            </div>
            </form>
        </div>

</section>