<section id="story" class="story">
    <div class="container">
        <div class="col-12">
            <div class="story__line"></div>
        </div>
        <div id="position" class="row">
            <div class="col-md-6 p-0 col-lg-4">
                <div class="story__first_img"></div>
            </div>
            <div class="col-md-6 col-lg-8 story__info">
                <h2 class="story__info_title">Story</h2>
                <p class="story__info_text">Maecenas in cursus elit, eget interdum tortor. Vestibulum cursus quis dui
                    nec
                    cummodo. Sed
                    convallis nisi metus, sit amet pulvinar risus mollis ut. Lorem ipsum dolor sit amet, consectetur

                    adipisicing elit. Suspendisse sed orci et est iaculis egestas. Quisque rutrum, nunc eget imperdiet

                    volutpat, urna tellus dignissim turpis, ac rhoncuc tortor mi sit amet lorem.
                </p>
                <button class="story__info_button">MORE</button>
            </div>
            <div class="col-12">
                <div class="story__line"></div>
            </div>
            <div id="size" class="col-md-6 col-lg-8 story__info d-block">
                <h2 class="story__info_title">Story</h2>
                <p class="story__info_text">Maecenas in cursus elit, eget interdum tortor. Vestibulum cursus quis dui
                    nec
                    cummodo. Sed
                    convallis nisi metus, sit amet pulvinar risus mollis ut. Lorem ipsum dolor sit amet, consectetur

                    adipisicing elit. Suspendisse sed orci et est iaculis egestas. Quisque rutrum, nunc eget imperdiet

                    volutpat, urna tellus dignissim turpis, ac rhoncuc tortor mi sit amet lorem.
                </p>
                <button class="story__info_button">MORE</button>
            </div>
            <div id="size_next" class="col-md-6 p-0 col-lg-4">
                <div class="story__last_img"></div>
            </div>
        </div>
    </div>

</section>