.features {
    .container{
        padding: 0px 50px;
    }
    &__line{
        border: 1px solid rgb(165, 165, 165);
        &_line{
            border: 1px solid rgb(165, 165, 165);
            transform: rotate(90deg);
            height: 20px;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        margin-top: 70px;
        text-align: center;
    }
    &__block{
        text-align: center;
        padding: 60px 45px;
        &_title{
            font-size: 22px;
            font-weight: 600;
            margin: 20px 0px;
        }
        &_text{
            font-size: 18px;
        }
    }
    #{
        width: 100%;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        border-left: 4px solid white;
    
    }
    th, td {
        border: 2px solid rgb(165, 165, 165);
        border-collapse: collapse;
        height: 250px;
      }
    
}


