.features {
    .container {
        padding: 0px 60px;
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        margin-top: 70px;
        text-align: center;
    }

    &__line {
        border: 1px solid rgb(165, 165, 165);
        display: none;
    }

    &__items {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        margin-top: 50px;

        @media screen and(max-width:992px) {
            grid-template-columns: auto auto;
        }

        @media screen and(max-width:768px) {
            grid-template-columns: auto;
        }

        &_item {
            padding: 40px 55px;
            text-align: center;
            font-size: 12px;

            h4 {
                padding: 10px 0;
                font-size: 22px;
                font-weight: 600;
            }

            p {
                font-size: 16px;
            }
        }

        .one,
        .four,
        .two,
        .five {
            border-right: 2px solid rgb(165, 165, 165);
        }

        .one,
        .two,
        .three {
            border-bottom: 2px solid rgb(165, 165, 165);
        }

        .two,
        .four {
            @media screen and(max-width:992px) {
                border-right: none;
            }
        }

        .three,
        .four {
            @media screen and(max-width:992px) {
                border-bottom: 2px solid rgb(165, 165, 165);
            }
        }

        .three {
            @media screen and(max-width:992px) {
                border-right: 2px solid rgb(165, 165, 165);
            }
        }

        .one,
        .three,
        .five {
            @media screen and(max-width:768px) {
                border-right: none;
            }
        }
    }

    @media screen and(max-width:768px) {
        &__line {
            display: block;
        }

        &__items {
            margin-top: 20px;
        }
    }
}