.header {
    display: flex;
    align-items: center;
    height: 70px;

    &__logo {
        font-size: 24px;
        font-weight: 700;
        margin-left: 35px;
    }

    ul {
        li {
            a {
                text-decoration: none;
                color: #000;
                font-size: 18px;
            }

        }

        :nth-child(even) {
            margin: 0px 40px;
        }

        :first-child {
            margin-left: 10px;
        }
    }

    &__icons {
        margin-right: 30px;

        &_icon {
            width: 20px;
            height: 20px;
            margin: 0px 25px;
        }
    }

    @media screen and(max-width: 1400px) {
        &__logo {
            font-size: 20px;
            margin-left: 20px;
        }
        &__icons {
            margin-right: 10px;
        }
    }
    @media screen and(max-width: 1200px) {
        &__logo {
            font-size: 16px;
        }
    }
    @media screen and(max-width: 991px) {
        &__icons{
            &_icon{
                display: none;
            }
        }
        &__logo {
            font-size: 24px;
        }
        &__menu{
            margin-left: -20px;
        }
    }
    @media screen and(max-width: 767px){
        ul {
            li{
                display: none;
            }
        }
        
    }
}