.hero {
    &__line {
        border: 1px solid rgb(165, 165, 165);
    }

    #position {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    &__info {
        padding: 0px 80px;

        &_title {
            font-size: 48px;
            color: #000;
            font-weight: 500;
        }

        &_text {
            font-size: 20px;
            color: #000;
            margin-top: 30px;

        }

        &_textlast {
            font-size: 18px;
            color: #000;
            margin-top: 24px;

        }

        &_button {
            border: 1px solid rgb(165, 165, 165);
            color: rgb(165, 165, 165);
            background-color: white;
            padding: 15px 30px;
            border-radius: 6px;
            margin-top: 30px;
            font-size: 14px;
            font-family: 'ROBOTO', sans-serif;

        }
    }

    &__img {
        width: 100%;
        height: 600px;
        margin-top: -1px;
    }
}