.registration {

    .container {
        padding: 0px 150px;
    }

    &__title {
        font-size: 36px;
        font-weight: 500;
        margin-top: 70px;
        margin-bottom: 50px;
    }

    &__radio {
        margin-left: -150px;
        margin-top: -8px;
    }

    &__text {
        font-size: 20px;
        font-weight: 700;
    }

    &__form {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        border: 1px solid rgb(207, 207, 207);
    }

    &__button {
        border: 1px solid rgb(165, 165, 165);
        color: rgb(165, 165, 165);
        background-color: white;
        padding: 15px 30px;
        border-radius: 6px;
        font-size: 14px;
        font-family: 'ROBOTO', sans-serif;
        transition: 0.5s all;

        &:hover {
            background-color: rgb(165, 165, 165);
            transition: 0.5s all;
            color: #000;
        }
    }



    @media screen and (max-width: 1399px) {
        &__radio {
            margin-left: -100px;
        }
    }

    @media screen and (max-width: 1199px) {
        &__radio {
            margin-left: -80px;
        }

        &__form {
            height: 150px;
        }

        .container {
            padding: 0px 100px;
        }
    }

    @media screen and (max-width: 991px) {
        &__radio {
            margin-left: -100px;
        }

        &__form {
            height: 120px;
        }
    }

    @media screen and (max-width: 767px) {
        &__title {
            margin-bottom: 30px;
        }

        &__radio {
            margin-left: -50px;
        }

        .container {
            padding: 0px 60px;
        }

        .form-check-input {
            margin-left: 50px;
            margin-right: 5px;
        }

        .form-check-label {
            font-size: 20px;
        }

        .form-check {
            margin-left: -75px;
        }
    }

    @media screen and (max-width: 471px) {
        &__title {
            margin-top: 30px;
        }

        .form-check-label {
            font-size: 17px;
        }

        .form-check-input {
            margin-left: 10px;
            margin-right: 5px;
        }

        &__radio {
            margin-left: -10px;
        }

        .form-check {
            margin-left: -35px;
        }
    }

}

input {
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
}

.form-label {
    font-size: 20px;
    font-weight: 700;
}

.form-check-input {
    margin-left: 35px;
    margin-right: 10px;
}

.form-check-label {
    font-size: 20px;
}

@media screen and (max-width: 991px) {
    .form-check-input {
        margin-left: 18px;
        margin-right: 5px;
    }

    .form-check-label {
        font-size: 18px;
        margin-top: 3px;
    }
}