.story {

    &__line {
        border: 1px solid rgb(165, 165, 165);
        margin-top: -2px;
    }

    &__first_img {
        background-image: url('../img/storyimg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 430px;
        margin-top: -2px;
    }

    &__last_img {
        background-image: url('../img/storyimglast.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 490px;
        margin-top: -2px;
        order: 2;
    }

    &__info {
        padding: 0px 80px;
        order: 1;

        &_title {
            font-size: 36px;
            font-weight: 500;
        }

        &_text {
            margin-top: 30px;
            font-size: 19px;
            text-align: justify;
        }

        &_button {
            border: 1px solid rgb(165, 165, 165);
            color: rgb(165, 165, 165);
            background-color: white;
            padding: 15px 30px;
            border-radius: 6px;
            margin-top: 30px;
            font-size: 14px;
            font-family: 'ROBOTO', sans-serif;
        }
    }

    #position {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    


    @media screen and(max-width:1400px) {
        &__info {
            padding: 0px 50px;

            &_text {
                font-size: 18px;
            }
        }
    }

    @media screen and(max-width:1200px) {
        &__info {
            &_text {
                font-size: 14px;
            }
        }
    }

    @media screen and(max-width:991px) {
        &__info {
            padding: 0px 30px;

            &_text {
                font-size: 17px;
            }

            &_button {
                padding: 15px 20px;
            }
        }

    }

    @media screen and(max-width: 767px) {
        &__line {
            margin-top: 18px;
        }

        &__info {
            padding: 0px 50px;

            &_title {
                margin-top: 40px;
            }
        }   
    }
}